@include h1-h6() {
    @include margin-shorthand-with-screens-support((
        top: $h1-h6-margin-top, 
        bottom: $h1-h6-margin-bottom, 
        left: $h1-h6-margin-left, 
        right: $h1-h6-margin-right
    ), $h1-h6-margin-for-screens);
    @include padding-shorthand((
        top: $h1-h6-padding-top, 
        bottom: $h1-h6-padding-bottom, 
        left: $h1-h6-padding-left, 
        right: $h1-h6-padding-right
    ));
    @include not-required-property(font-family, $h1-h6-font-family);
    font-weight: $h1-h6-font-weight;
    line-height: $h1-h6-line-height;
    @include not-required-property(color, $h1-h6-color);
    @include h1-h6-extra-style();
}

h1 {
    font-size: $h1-font-size;
    @include h1-extra-style();
}

h2 {
    font-size: $h2-font-size;
    @include h2-extra-style();
}

h3 {
    font-size: $h3-font-size;
    @include h3-extra-style();
}

h4 {
    font-size: $h4-font-size;
    @include h4-extra-style();
}

h5 {
    font-size: $h5-font-size;
    @include h5-extra-style();
}

h6 {
    font-size: $h6-font-size;
    @include h6-extra-style();
}
