@include h1-h6-style() {
    @include include-element-margin($h1-h6-margin-top, $h1-h6-margin-bottom, $h1-h6-margin-left, $h1-h6-margin-right, $h1-h6-margin-for-screens);
    padding: 0;
    font-weight: $h1-h6-font-weight;
    @include include-single-property-with-screens-support(line-height, $h1-h6-line-height, $h1-h6-line-height-for-screens);
    color: $h1-h6-color;
}

h1 {
    @include include-single-property-with-screens-support(font-size, $h1-font-size, $h1-font-size-for-screens);
}

h2 {
    @include include-single-property-with-screens-support(font-size, $h2-font-size, $h2-font-size-for-screens);
}

h3 {
    @include include-single-property-with-screens-support(font-size, $h3-font-size, $h3-font-size-for-screens);
}

h4 {
    @include include-single-property-with-screens-support(font-size, $h4-font-size, $h4-font-size-for-screens);
}

h5 {
    @include include-single-property-with-screens-support(font-size, $h5-font-size, $h5-font-size-for-screens);
}

h6 {
    @include include-single-property-with-screens-support(font-size, $h6-font-size, $h6-font-size-for-screens);
}
