//Margins
$h1-h6-margin-top: $elements-margin-top !default;
$h1-h6-margin-bottom: $elements-margin-bottom !default;
$h1-h6-margin-left: $elements-margin-left !default;
$h1-h6-margin-right: $elements-margin-right !default;
//Defined margins for each screens.
$h1-h6-margin-for-screens: $elements-margin-for-screens !default;
/*$h1-h6-margin-for-screens: (
    s1: (
        top: 20px, //Not required. Define only the margins values you want to change. Example - s2: ( top: 20px ) - change only top margin for screens greater than s2
        bottom: 20px,
        left: 20px,
        right: 20px,
    ),
    ...
) !default;*/

//Paddings
$h1-h6-padding-top: 0 !default;
$h1-h6-padding-bottom: 0 !default;
$h1-h6-padding-left: 0 !default;
$h1-h6-padding-right: 0 !default;

//Font
$h1-h6-font-family: null !default;
$h1-h6-font-weight: normal !default;
$h1-h6-line-height: 1.4em !default;
$h1-h6-color: null !default;

@mixin h1-h6-extra-style() {}

    //H1
    $h1-font-size: 1.8em !default;
    @mixin h1-extra-style() {}

    //H2
    $h2-font-size: 1.5em !default;
    @mixin h2-extra-style() {}

    //H3
    $h3-font-size: 1.46em !default;
    @mixin h3-extra-style() {}

    //H4
    $h4-font-size: 1.38em !default;
    @mixin h4-extra-style() {}

    //H5
    $h5-font-size: 1.3em !default;
    @mixin h5-extra-style() {}

    //H6
    $h6-font-size: 1.2em !default;
    @mixin h6-extra-style() {}